# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Graph-Algorithms Visualizer/*
!/Graph-Algorithms Visualizer/task/
/Graph-Algorithms Visualizer/task/*
!/Graph-Algorithms Visualizer/task/src
